In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
%matplotlib inline

In [3]:
df = pd.read_csv("train.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
df = df.drop(['Cabin'], 1, inplace=False)
df = df.dropna()

In [7]:
y = df.Survived
X = df.drop(['Survived', 'PassengerId', 'Name', 'Ticket'], 1, inplace=True)
X = pd.get_dummies(df)

In [8]:
X

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,1
4,3,35.0,0,0,8.0500,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
885,3,39.0,0,5,29.1250,1,0,0,1,0
886,2,27.0,0,0,13.0000,0,1,0,0,1
887,1,19.0,0,0,30.0000,1,0,0,0,1
889,1,26.0,0,0,30.0000,0,1,1,0,0
890,3,32.0,0,0,7.7500,0,1,0,1,0

In [9]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_transformed = scaler.fit_transform(X)
X = pd.DataFrame(X_transformed, columns=list(X.columns.values))
X.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0.908600,-0.527669,0.522511,-0.506787,-0.516380,-0.756138,0.756138,-0.472618,-0.202326,0.534040
1,-1.482983,0.577094,0.522511,-0.506787,0.694046,1.322511,-1.322511,2.115874,-0.202326,-1.872519
2,0.908600,-0.251478,-0.552714,-0.506787,-0.503620,1.322511,-1.322511,-0.472618,-0.202326,0.534040
3,-1.482983,0.369951,0.522511,-0.506787,0.350326,1.322511,-1.322511,-0.472618,-0.202326,0.534040
4,0.908600,0.369951,-0.552714,-0.506787,-0.501257,-0.756138,0.756138,-0.472618,-0.202326,0.534040

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train,y_test =train_test_split(X, y, test_size=0.3,random_state=101)

In [12]:
from sklearn.linear_model import LogisticRegression

In [27]:
from sklearn.model_selection import GridSearchCV
grid={"C":np.logspace(-3,3,7), "penalty":["l2"]}# l1 lasso l2 ridge
logreg=LogisticRegression()
logreg_cv=GridSearchCV(logreg,grid,cv=10)
logreg_cv.fit(X_train,y_train)

print("tuned hpyerparameters :(best parameters) ",logreg_cv.best_params_)
print("accuracy :",logreg_cv.best_score_)

tuned hpyerparameters :(best parameters)  {'C': 100.0, 'penalty': 'l2'}
accuracy : 0.8013469387755101

In [28]:
# clf = LogisticRegression(random_state = 0).fit(X_train, y_train)

logreg2=LogisticRegression(C=100.0,penalty="l2")
logreg2.fit(X_train,y_train)
print("score",logreg2.score(X_test,y_test))
pred2 = logreg2.predict(X_test)

score 0.7990654205607477

In [15]:
# https://www.kaggle.com/suddharshan/titanic-survival-prediction-eda-top-6/notebook?scriptVersionId=80679457

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier

In [16]:
classifiers = [LogisticRegression(solver='liblinear'),
    KNeighborsClassifier(),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    MLPClassifier(),
    AdaBoostClassifier(),
    GaussianNB(),
    QuadraticDiscriminantAnalysis(),
    SVC(),GaussianProcessClassifier()]

In [17]:
for i in classifiers:
    model = i
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print('______________________________________________')
    print(i)
    print('..............................................')
    print('Train',model.score(X_train, y_train)*100)
    print('Test',model.score(X_test, y_test)*100)

______________________________________________
LogisticRegression(solver='liblinear')
..............................................
Train 79.91967871485943
Test 79.43925233644859
______________________________________________
KNeighborsClassifier()
..............................................
Train 85.7429718875502
Test 78.03738317757009
______________________________________________
DecisionTreeClassifier()
..............................................
Train 99.3975903614458
Test 76.63551401869158
______________________________________________
RandomForestClassifier()
..............................................
Train 99.3975903614458
Test 76.63551401869158
______________________________________________
MLPClassifier()
..............................................
Train 85.14056224899599
Test 82.71028037383178
______________________________________________
AdaBoostClassifier()
..............................................
Train 84.73895582329317
Test 75.23364485981308
______________________________________________
GaussianNB()
..............................................
Train 78.3132530120482
Test 76.16822429906543
______________________________________________
QuadraticDiscriminantAnalysis()
..............................................
Train 72.69076305220884
Test 67.7570093457944
______________________________________________
SVC()
..............................................
Train 83.33333333333334
Test 80.37383177570094
______________________________________________
GaussianProcessClassifier()
..............................................
Train 87.34939759036145
Test 78.97196261682244

/opt/conda/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
/opt/conda/lib/python3.9/site-packages/sklearn/discriminant_analysis.py:808: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")